/* font.css */

@font-face {
  font-family: 'Mona Sans';
  src:
    url('../assets/fonts/Mona\ Sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('../assets/fonts/Mona\ Sans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Hubot Sans';
  src:
    url('../assets/fonts/Hubot\ Sans/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('../assets/fonts/Hubot\ Sans/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/* Apply the custom font to specific elements */
body, header, section {
  font-family: 'Mona Sans';
} 