/* Add these styles to your CSS file */
.App {
  /* Add styles for the container of your components */
  margin: 20px; /* Adjust the margin to control the spacing around the container */
  padding: 1em; /* Optionally, add padding to create inner spacing */

  /* Other styles for your container */
}

/* Additional styles for your components */
@media screen and (max-width: 768px) {
  .profile-picture {
      width: 150px; /* Adjust the size for smaller screens */
      height: 150px;
  }
}

/* Styles for smaller screens (e.g., mobile) */
@media screen and (max-width: 768px) {
  .content, .profile {
    max-width: 90%; /* Adjust the maximum width for mobile screens */
    margin: 0 auto; /* Center-align the component on small screens */
  }
}

